.navbar .container {
  padding-bottom: -150px;
  padding-top: 0px;
  max-height: 5vh;
}



.hometext1{
    margin: auto;
    font-size: 80px;
    font-weight: 650;
    top: 200px;
    position: relative;
    text-align: center;
    color: white;
}


  .hometext2{
    margin: auto;
    font-size: 40px;
    font-weight: 530;
    top: 200px;
    position: relative;
    text-align: center;
    color: white;
}